.cart  {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 2rem;
    width: 70px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
    color: white;
}

.cart img {
    width: 30px;
    height: 30px;
    
    
}

